<p>
Found <%= pluralize(@products.size, 'result') %>
for the search term <%=params[:search_term]%>
</p>


<div class='columns is-multiline'>
<%= render partial: 'product',
           collection: @products,
           locals: {show_link: true}
%>
</div>